<!-- <h1>Games#new</h1>
<p>Find me in app/views/games/new.html.erb</p> -->

<h1>New game</h1>

<!-- <p> <%= @letters %> </p> -->

<div id="generated-letters">
  <% @letters.each do |letter| %>
    <p class="letter"> <%= letter %> </p>
  <% end %>
</div>

<form action="/score" id="form">
  <label for="user-word">What is the longest word you can find?</label>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="inputs">
    <input type="text" name="user-word" class="user-word">
    <input type="hidden" name="letters" value="<%= @letters.join %>" >
    <input type="submit" name="submit-btn" value="Play" class="submit-btn">
  </div>
</form>
