<!-- <h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p> -->

<h1>Score</h1>

<p>
  <%= @letters %>
</p>
<p>
  <%= @user_word.upcase %>
</p>

<p> <%= link_to "Play again", new_path %> </p>
